/* base-stylesheet */
/*
/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*   color: var(--primary); */
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  /* background: radial-gradient(#7393B3, #1a1f1d); */
  color: #e1eeeb;
  min-height: 100vh;
  /* max-width: 100% !important; */
}

ul {
  list-style-type: none;
  padding-left: 0rem;
}

a {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none !important;
}

.button-href {
  color: black !important;
}

/* Code for Videos  */

.video-container {
  position: relative;
  padding-top: 5rem;
}

.video-container-mobile {
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

#playPauseButton {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* background-color: rgba(0,0,0,.4); */
  /* background-color: white; */
  background: transparent;
  border: none;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  width: 100%;
  color: white;
  font-size: 2rem;
  -webkit-tap-highlight-color: transparent;
}

#playPauseButton_mobile {
  position: absolute;
  top: 57.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* background-color: rgba(0,0,0,.4); */
  /* background-color: white; */
  background: transparent;
  border: none;
  /* padding: 1rem; */
  text-align: center;
  cursor: pointer;
  width: 100%;
  color: white;
  font-size: 2rem;
  -webkit-tap-highlight-color: transparent;
}

#playPauseButton_mobile2 {
  position: absolute;
  top: 57.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* background-color: rgba(0,0,0,.4); */
  /* background-color: white; */
  background: transparent;
  border: none;
  /* padding: 1rem; */
  text-align: center;
  cursor: pointer;
  width: 100%;
  color: white;
  font-size: 2rem;
  -webkit-tap-highlight-color: transparent;
}

#playPauseButton:focus {
  outline: none;
}

.bg4button {
  background-color: white;
  width: 100%;
}

.tumbnail_title {
  font-size: 2rem;
  font-family: "Archivo Black", sans-serif;
  color: white;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.tumbnail_title_mobile {
  font-size: 2rem;
  font-family: "Archivo Black", sans-serif;
  color: white;
  /* padding: 1rem; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.tumbnail_title_mobile2 {
  font-size: 2rem;
  font-family: "Archivo Black", sans-serif;
  color: white;
  /* padding: 1rem; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}


.tumbnail_title_2 {
  font-size: 2rem;
  font-family: "Archivo Black", sans-serif;
  color: white;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#playPauseButton2 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* background-color: rgba(0,0,0,.4); */
  /* background-color: white; */
  background: transparent;
  border: none;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  width: 100%;
  color: white;
  font-size: 2rem;
  -webkit-tap-highlight-color: transparent;
}

#playPauseButton2:focus {
  outline: none;
}

.hidden {
  display: none;
}

#background-video1 {
  width: 100%;
  height: 75vh;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
}

#background-video2 {
  width: 100%;
  height: 75vh;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
}

#background-video-mobile1 {
  width: 100%;
  height: 75vh;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
}

#background-video-mobile2 {
  width: 100%;
  height: 75vh;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
}