.test-text {
    color: red;
}

.container{
    width: 80%;
    margin: 50px auto;
}

.contact-box {
    background: #fff;
    display: flex;
}

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right {
    flex-basis: 60%;
    padding: 40px 60px;
    background: #1c00b5;
    color: #fff;
}