.contact-section {
    text-align: center;
    padding: 1rem;
}

/* background container/image */
#contact-container {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-background-image {
    width: 100%;
    height: 500px;
    background-image: url('../images/icemountain-unsplash.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    object-fit: cover;
}

.contact-title {
    font-family: "Archivo Black", sans-serif;
    font-size: 50px;
    padding: 1rem;
    text-align: center;
}

/* button */
.container-button {
    /* width: 100%; */
    padding: 1rem;
}

.my-button {
    background-color: white;
    color: black;
    border: none;
    height: 75px;
    width: 275px;
    border-radius: 8px;
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
}

.my-button:hover {
    background-color: #7393B3;
    color: black;
}

.contact-footer {
    display: flex;
    margin: auto;
    justify-content: space-between;
    /* width: 1250px; */
    width: 100vw;
    padding: 1rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

.left-information {
    text-align: left;
}

.right-information {
    text-align: right;
}

.footer-text {
    font-family: "Archivo Black", sans-serif;
    font-size: 30px;
}

.footer-sub-text {
    font-family: "proxima-nova", sans-serif;
}

/* media quieries - Desktop */
@media screen and (min-width: 1200px) {
    .desktop-settings-left {
        margin-left: 250px;
    }

    .desktop-settings-right {
        margin-right: 250px;
    }
}

/* media quieries - Mobile */
@media screen and (max-width: 430px) {
    .mobile-media-settings {
        width: 100%;
    }

    .increase-size-on-mobile {
        width: 100%;
    }
}