/* navbar-stylesheet */
/*
/* navbar */
nav {
  padding: 1rem;
  display: flex;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* position: fixed; */
  left: 0;
  right: 0;
  padding: 32px 32px;
  gap: 20px;
}

.navbar > ul {
  display: flex;
  list-style-type: none;
  gap: 40px;
}

.navbar-mobile {
  padding: 1rem;
  display: flex;
}

.underline-text {
  color: white;
  font-family: "proxima-nova", sans-serif;
  text-decoration: none !important;
  font-size: 20px;
}

.underline-text-mobile {
  color: black !important;
  font-family: "proxima-nova", sans-serif !important;
  font-size: 3rem !important;
  text-decoration: none !important;
}

.underline-text-social-mobile {
  color: black !important;
}

/* background container/image */
.background-container {
  width: 100%;
  height: 75vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background-image {
  width: 100%;
  height: 100vh;
  /* background-image: url("../images/icemountain-unsplash.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  /* The CSS property background-attachment: fixed; does not work on mobile devces */
  background-position-x: center;
  background-position-y: center;
}

.container-video {
  width: 100%;
  height: 100vh;
}

.container-video-mobile {
  width: 100%;
  height: 65vh;
}

#background-video-mobile {
  width: 100%;
  height: 65vh;
  /* background-repeat: no-repeat;
    background-size: cover; */
  /* background-attachment: fixed; */
  /* The CSS property background-attachment: fixed; does not work on mobile devces */
  /* background-position-x: center;
    background-position-y: center;
    position: absolute; */
  position: absolute;
  /* right: 0; */
  /* bottom: 0; */
  z-index: -1;
  object-fit: cover;
}

#background-video {
  width: 100%;
  height: 100vh;
  /* background-repeat: no-repeat;
    background-size: cover; */
  /* background-attachment: fixed; */
  /* The CSS property background-attachment: fixed; does not work on mobile devces */
  /* background-position-x: center;
    background-position-y: center;
    position: absolute; */
  position: absolute;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
}

.background-container-mobile {
  width: 100%;
  height: 50vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background-image-mobile {
  width: 100%;
  height: 65vh;
  background-image: url("../images/icemountain-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  /* The CSS property background-attachment: fixed; does not work on mobile devces */
  background-position-x: center;
  background-position-y: center;
}

.sub-text {
  font-family: "Archivo Black", sans-serif;
  font-size: 70px;
  text-align: center;
}

.sub-text-mobile {
  font-family: "Archivo Black", sans-serif;
  font-size: 3rem;
  text-align: center;
}

.sub-text-mobile.active {
  display: none;
}

/* logo/title */
#logo {
  font-size: 40px;
  text-decoration: none;
  font-family: "Archivo Black", sans-serif;
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
}

#logo:hover {
  cursor: pointer;
}

#logo-mobile {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-left: 30px;
  margin-right: 30px;
  flex-grow: 0;
  flex-shrink: 1;
  text-decoration: none;
  font-family: "Archivo Black", sans-serif;
}

#logo-mobile:hover {
  cursor: pointer;
}

/* ham menu */
.ham-menu {
  height: 50px;
  width: 40px;
  margin-left: auto;
  position: relative;
}

.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active span {
  background-color: black;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* off-screen-menu */
.off-screen-menu {
  background-color: white;
  height: 100%;
  width: 100%;
  /*   max-width: 450px; */
  position: fixed;
  /* top: 0; */
  right: -100%;
  /*  right: 450px; */
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  transition: 0.3s ease;
  padding: 1rem;
}

.off-screen-menu.active {
  right: 0;
}

#logo-mobile-off-screen-menu {
  display: flex;
  margin-top: 8px;
  margin-left: 30px;
  margin-right: 30px;
  flex-grow: 0;
  flex-shrink: 1;
  font-size: 2rem;
  text-decoration: none;
  font-family: "Archivo Black", sans-serif;
  color: black;
}

.services-off-screen-menu {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  flex-direction: column;
  margin: 0 70px;
}

/* social media links */
.social-media-links {
  display: flex;
  justify-content: left;
  position: absolute;
  gap: 40px;
  padding: 42px 32px;
  font-size: 20px;
}

.social-media-links-off-screen-menu {
  display: flex;
  align-items: center;
  margin: 0 30px;
  flex-grow: 0;
  flex-shrink: 1;
  margin-bottom: 1.5vw;
  gap: 40px;
  font-size: 1.5rem;
}

/* media quieries */
/* media quieries - Desktop */
@media screen and (max-width: 1024px) {
  .show-on-desktop {
    display: none;
  }
}

/* media quieries - Mobile */
@media screen and (min-width: 1025px) {
  .hide-on-desktop {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hide-on-mobile-phone {
    display: none;
  }
}

/* media quieries - Mobile */
@media screen and (max-height: 431px) {
  .adjust-height-mobile {
    height: 100vh;
  }

  .adjust-container-height-mobile {
    height: 60vh;
  }
}

/* specific device media quieries/settings */
/* Galaxy Z fold 5 */
@media only screen and (max-width: 882px) and (max-height: 344px) {
  .hide-on-mobile-phone {
    display: none;
  }
}

/* Nest Hub */
@media only screen and (max-width: 1024px) and (max-height: 600px) {
  .adjust-height-mobile {
    height: 100vh;
  }
}

/* video settings */
/* @media (min-aspect-ratio: 16/9) {
  #background-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #background-video {
    width: auto;
    height: 100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  #background-video-mobile {
    width: auto;
    height: 65vh;
  }
} */

/* media quieries - Mobile */
@media screen and (max-height: 601px) {
  #background-video-mobile {
    width: 100%;
    height: 100vh;
  }
}
